In [ ]:
def column_info(df, column_name):
    #print('max:' +df[column_name].max() +\" min:\" + df[column_name].min())\n",
    print(df[column_name].describe())
    print('_______________________________')
    missing_count = df[column_name].isnull().sum()
    missing_percentage = (missing_count / len(df)) * 100
    print(f"Missing values: {missing_count} ({missing_percentage:.2f}%)")
    print('_______________________________')
    print( df[column_name].unique())
    print('_______________________________')
    print(df[column_name].value_counts())

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

from sklearn.impute import KNNImputer, SimpleImputer
from sklearn.ensemble import RandomForestRegressor
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from pyproj import Transformer

import re
import os
from IPython.display import display
from scipy.stats import chi2_contingency
from autoviz import AutoViz_Class
from sklearn.ensemble import IsolationForest


import warnings
warnings.filterwarnings("ignore")

In [ ]:
from google.colab import files

# Upload file manually
uploaded = files.upload()

KeyboardInterrupt:

In [ ]:
df_o = pd.read_excel('df_2018_final.xlsx')

In [ ]:
df = df_o.copy()

In [ ]:
df.sample(5)

,auth_name,authority_code,authority_status,budget_total_income,budget_reg_inc_total,budget_reg_inc_per_capita,budget_reg_inc_tax_grants,budget_reg_inc_local_services,budget_reg_inc_gov_services_total,budget_reg_inc_gov_education,budget_reg_inc_gov_welfare,budget_reg_inc_gov_culture,budget_reg_inc_ent_total,budget_reg_inc_ent_water,budget_reg_inc_ent_irregular,budget_reg_inc_econ_total,budget_reg_inc_econ_self_total,budget_reg_inc_arnona_total,budget_reg_inc_arnona_res_collection,budget_reg_inc_arnona_res_charges_net,budget_reg_inc_arnona_res_collection_rate,budget_reg_inc_arnona_res_curr_collection,budget_reg_inc_arnona_res_curr_charges,budget_reg_inc_arnona_res_curr_rate,budget_reg_inc_arnona_res_exemptions,budget_reg_inc_arnona_res_arrears,budget_reg_inc_arnona_nonres_collection,budget_reg_inc_self_education,budget_reg_inc_self_welfare,budget_reg_inc_self_other,budget_reg_inc_gov_trans_total,budget_reg_inc_gov_trans_edu,budget_reg_inc_gov_trans_welfare,budget_reg_inc_gov_trans_general,budget_reg_inc_gov_trans_designated,budget_reg_inc_gov_trans_special,budget_reg_inc_gov_trans_deficit,budget_reg_inc_balance_loans,budget_dev_inc_total,budget_dev_inc_property,budget_dev_inc_gov,budget_dev_inc_loans,budget_dev_inc_other,budget_total_exp,budget_reg_exp_total,budget_reg_exp_per_capita,budget_reg_exp_management,budget_reg_exp_local_services,budget_reg_exp_gov_total,budget_reg_exp_gov_edu,budget_reg_exp_gov_welfare,budget_reg_exp_gov_culture,budget_reg_exp_ent_total,budget_reg_exp_ent_water,budget_reg_exp_ent_irregular,budget_reg_exp_total_alt,budget_reg_exp_labor_total,budget_reg_exp_labor_edu,budget_reg_exp_labor_welfare,budget_reg_exp_econ_operations,budget_reg_exp_econ_loan_payment,budget_reg_exp_econ_financing,budget_reg_exp_econ_onetime,budget_reg_exp_econ_general,budget_dev_exp_total,budget_dev_exp_works,budget_dev_exp_loan_transfers,budget_dev_exp_other,budget_balance_regular_current,budget_balance_reg_no_loans,budget_balance_reg_accumulated,budget_loan_burden_total,arnona_area_total,arnona_area_residential,arnona_area_commercial,arnona_area_industry,arnona_area_craft,arnona_area_banks,arnona_area_hotels,arnona_area_parking,arnona_area_land_occupied,arnona_area_land_events,arnona_area_land_industry_large,arnona_area_agriculture_land,arnona_area_agriculture_building,arnona_area_residential_unused,arnona_area_construction_land,arnona_area_solar_roof,arnona_area_solar_ground,arnona_area_solar_land,arnona_area_other,arnona_charge_total,arnona_charge_residential,arnona_charge_commercial,arnona_charge_industry,arnona_charge_craft,arnona_charge_banks,arnona_charge_hotels,arnona_charge_parking,arnona_charge_land_occupied,arnona_charge_land_events,arnona_charge_land_industry_large,arnona_charge_agriculture_land,arnona_charge_agriculture_building,arnona_charge_residential_unused,arnona_charge_construction_land,arnona_charge_solar_roof,arnona_charge_solar_ground,arnona_charge_solar_land,arnona_charge_other,general_district,general_municipal_status,general_dist_tel_aviv_km,general_municipal_status_year,general_coastal,general_council_members,general_planning_committee_code,general_planning_committee_name,general_area_km2,demo_density_per_km2,demo_total_pop,demo_general_jews_others_pct,demo_general_jews_pct,demo_general_arab_pct,demo_general_muslim_pct,demo_general_christian_pct,demo_general_druze_pct,demo_general_male_thousands,demo_general_female_thousands,demo_age_0_4_pct,demo_age_5_9_pct,demo_age_10_14_pct,demo_age_15_19_pct,demo_age_20_29_pct,demo_age_30_44_pct,demo_age_45_59_pct,demo_age_60_64_pct,demo_age_65plus_pct,demo_age_special_0_17_pct,demo_age_75_plus_pct,demo_dependency_ratio,demo_vital_births,demo_infant_mortality_avg,demo_vital_infant_mortality_rate,demo_vital_deaths,demo_natural_growth_total,demo_vital_natural_increase_rate,demo_vital_population_growth_pct,demo_immig_post1990_pct,demo_new_immigrants,demo_immigrants_age_0_17_pct,demo_immigrants_age_18_44_pct,demo_immigrants_age_45_64_pct,demo_immigrants_age_65_plus_pct,demo_migration_balance_total,demo_internal_migration_balance,demo_migrate_incoming_total,demo_migrate_incoming_male,demo_migrate_incoming_female,demo_migrate_incoming_age_0_14,demo_migrate_incoming_age_15_29,demo_migrate_incoming_age_30_64,demo_migrate_incoming_age_65plus,demo_internal_migrants_in_total,demo_internal_migrants_in_male,demo_internal_migrants_in_female,demo_internal_migrants_in_age_0_14,demo_internal_migrants_in_age_15_29,demo_internal_migrants_in_age_30_64,demo_internal_migrants_in_age_65_plus,demo_internal_migrants_in,demo_marriages_total_2017,demo_marriage_rate_per_1000_unmarried_15_plus_2017,demo_divorces_total_2017,demo_divorce_rate_per_1000_married_15_plus_2017,demo_inst_facilities_total_pct,demo_inst_residents_total_pct,demo_inst_elderly_homes_pct,demo_inst_education_pct,demo_inst_religious_pct,demo_inst_medical_pct,demo_inst_other_pct,health_general_mortality_rate,health_life_expectancy_50k_plus,health_fertility_rate,health_general_diabetes_cases,health_diabetes_rate_per_1000,health_overweight_1st_grade_pct,health_obesity_grade7_pct,health_cancer_cases_male_avg_2011_2015,health_cancer_rate_male_per_100k_2011_2015,health_cancer_cases_female_avg_2011_2015,health_cancer_rate_female_per_100k_2011_2015,welfare_unemployment_recipients_total_monthly_avg,welfare_unemployment_recipients_male_monthly_avg,welfare_vocational_training_total_monthly_avg,welfare_unemployment_recipients_age_avg_no_soldiers,welfare_unemployment_benefits_daily_avg_nis,welfare_elderly_pension_recipients_total_year_end,welfare_income_supplement_elderly_pct,welfare_income_support_recipients_yearly,welfare_nursing_benefits_count,welfare_disability_recipients_year_end,welfare_mobility_allowance_recipients_year_end,welfare_disability_work_count,health_insurance_clalit_pct,health_insurance_maccabi_pct,health_insurance_meuhedet_pct,health_insurance_leumit_pct,welfare_child_allowance_families_total,welfare_child_allowance_families_1_2_children,welfare_child_allowance_families_3_4_children,welfare_child_allowance_families_5_plus_children,welfare_children_receiving_allowances_total,welfare_children_recipients_families_1_2,welfare_children_recipients_families_3_4,welfare_children_recipients_families_5_plus,employ_salary_avg_total_nis,employ_salary_avg_male_nis,emp_salary_monthly_avg_female,employ_salary_change_total_pct,employ_salary_change_male_pct,emp_salary_change_pct_female,emp_salaried_count_2017,employ_workers_min_wage_pct,employ_workers_self_employed_count,employ_workers_self_employed_income_nis,employ_workers_self_employed_income_change_pct,employ_workers_self_employed_low_income_pct,emp_gini_index_2017,edu_kindergarten_total_2018,edu_kindergarten_age_3_2018,edu_kindergarten_age_4_2018,edu_kindergarten_age_5_2018,edu_kindergarten_age_6_2018,edu_schools_total_2018,edu_schools_elementary_2018,edu_schools_high_2018,edu_schools_middle_2018,edu_schools_high_upper_2018,edu_classes_total_2018,edu_classes_elementary_2018,edu_classes_high_2018,edu_classes_middle_2018,edu_classes_high_upper_2018,edu_students_total,edu_students_elementary,edu_students_highschool,edu_students_middle,edu_students_secondary,edu_students_per_class_total_2018,edu_students_per_class_elementary_2018,edu_students_per_class_high_2018,edu_students_per_class_middle_2018,edu_students_per_class_high_upper_2018,edu_matriculation_eligible_pct_2018,edu_university_eligible_pct_2018,edu_higher_degree_holders_35_55_pct_2019,edu_higher_entry_within_8y_pct_2019,edu_higher_students_20_25_pct,edu_higher_students_total_pct,edu_staff_total,edu_staff_weekly_hours_avg,edu_staff_new_teachers_pct,edu_teachers_absence_hours_pct,edu_staff_seniority_years,edu_staff_masters_degree_pct,edu_teachers_training_pct,edu_staff_students_per_teacher,edu_staff_weekly_hours_per_student,water_income_thousand_m3,water_loss_thousand_m3,water_loss_pct_from_total,water_consumption_total_thousand_m3,water_usage_domestic_other_thousand_m3,water_usage_agriculture_thousand_m3,water_usage_domestic_other_pct_total,water_usage_agriculture_pct_total,water_usage_residential_thousand_m3,water_type_municipal_cubic_m,water_type_gardening_cubic_m,water_type_commercial_cubic_m,water_type_construction_cubic_m,water_type_pct_residential,water_type_pct_municipal,water_type_pct_gardening,water_type_pct_commercial,water_type_pct_construction,water_usage_domestic_per_capita_total,water_usage_residential_per_capita,water_usage_municipal_per_capita,water_usage_per_capita_m3_gardens,water_usage_per_capita_m3_commercial,water_usage_per_capita_m3_construction,construction_starts_area_thousand_m2,construction_residential_area_thousand_m2,construct_start_units_count,construction_completions_area_thousand_m2,construction_residential_area_thousand_m2_alt,construction_units_completed,housing_units_registered_2019_06,infra_roads_new_km,infra_roads_start_area_sqm,infra_pipes_start_water_km,infra_pipes_start_sewage_km,infra_pipes_start_drainage_km,infra_roads_completed_km,construction_area_alt_thousand_m2,infra_water_pipes_completed_km,infra_sewage_completed_km,infra_drainage_completed_km,waste_per_capita_kg_per_day,waste_recycling_pct,transport_vehicles_total,transport_private_vehicles_total,transport_private_vehicles_age_avg,transport_accidents_total,transport_accidents_fatal,transport_accidents_severe,transport_accidents_light,transport_accidents_rate_per_1000_residents,transport_accidents_rate_per_1000_vehicles,transport_casualties_fatal,crime_convictions_total,crime_convictions_rate_per_1000,crime_type_public_order_pct,crime_type_violence_pct,crime_type_morality_pct,crime_type_property_pct,crime_type_fraud_economic_pct,crime_type_licensing_pct,crime_type_other_pct,socio_cluster_2015,socio_index_value_2015,socio_rank_2015,compact_cluster,compact_rank,compact_std_score,periph_cluster,periph_index_value,periph_rank,periph_accessibility_rank,periph_distance_tlv_rank,land_total_area_km2,land_residential_km2,land_residential_pct,land_education_km2,land_education_pct,land_health_welfare_km2,land_health_welfare_pct,land_public_services_km2,land_public_services_pct,land_culture_recreation_km2,land_culture_recreation_pct,land_commercial_km2,land_commercial_pct,land_industry_km2,land_industry_pct,land_infrastructure_km2,land_infrastructure_pct,land_agriculture_buildings_km2,land_agriculture_buildings_pct,land_parks_gardens_km2,land_parks_gardens_pct,land_forest_km2,land_forest_pct,land_orchards_km2,land_orchards_pct,land_field_crops_km2,land_field_crops_pct,land_other_open_km2,land_other_open_pct,pop_total_thousands_2013,pop_density_residential_per_km2,region_dist_avg_km,region_dist_weighted_avg_km,region_settle_total,region_settle_urban_jewish_5k_10k,region_settle_urban_nonjewish_5k_10k,region_settle_urban_jewish_2k_5k,region_settle_urban_moshav_2k_5k,region_settle_urban_moshav_collective_2k_5k,region_settle_urban_kibbutz_2k_5k,region_settle_urban_nonjewish_2k_5k,region_settle_moshav,region_settle_moshav_collective,region_settle_kibbutz,region_settle_institutional_jewish,region_settle_institutional_nonjewish,region_settle_community,region_settle_rural_other_jewish,settlements_rural_other_non_jewish,elect_municipal_round1_turnout_pct,elect_municipal_round2_turnout_pct,elect_knesset_21_turnout_pct,elect_knesset_22_turnout_pct,Transliteration,District,Sub-District,Natural Region,Municipal Status,Metropolitan Affiliation,Settlement Religion,Year of Establishment,Current Settlement Form,Organizational Affiliation,Coordinates,Average Elevation,Planning Committee,Police Jurisdiction,Year,English Settlement Name,Regional Authority Cluster
223,חולון,6600,עיריה,1500471,1302130,6702.578330,696224,64034,475611,340134,129367,5635,25708,1434,40553,1302130,852612,568573,269288,302528,89.0,262517,358849,73.2,89824,6771,299285,22482.0,3287.0,258270,449518,313991,126080,0,0.0,1484,0,0.0,198341,0.0,25503,0.0,172838,1466335,1278817,6582.577095,85925,238870,756939,481248,177151,87846,1068,746,196015,1278817,391980,162660,28142,366124,22718,4008,26603,467384,187518,123542,0.0,63976,23313,23313,26835,103537,9045.3,5607.2,711.9,823.2,0.0,16.8,0.0,197.1,1000.6,0.0,0.0,410.3,1.5,0.0,0.0,0.0,0,0.0,276.7,693840,358303,148855,102354,0,16906,0,5996,31269,0,0,78,60,0,0,0,0,0,30020,תל אביב,עירייה,0.0,1950.0,0,27,505,חולון,19.04,10194.9,194273,99.849181,92.011757,0.0,0.000000,0.000000,0.000000,93884,100389,7.990302,7.723152,6.761619,6.112018,11.319638,21.252053,16.362541,5.109820,17.368857,26.176051,7.375703,850.334305,2966,5.0,1.6,1464,1502,7.764340,0.856072,17.118179,367.0,34.059946,37.60218,18.528610,9.809264,-138,-567,5513.0,2800.0,2713.0,1321.0,1269,2500.0,423.0,6080.0,3024.0,3056.0,1566.0,1347.0,2724.0,443.0,10490.0,1604,24.3,768,9.3,11.0,1064.0,0.37,0.00,0.0,0.17,0.02,4.93,82.690787,2.35,15472.3,57.80,22.1,31.9,392.0,337.51,475.0,351.59,1819,766.0,6.0,41.6,148.9,34392,16.800419,2322.0,7412,6237,1033,884,38.4,49.7,5.9,6.1,25043,17595,6783,665.0,51887,26368,21747,3772.0,9425.196000,11192.430302,7832.643109,5.067678,4.759141,5.459281,90822,33.6,7256,10847.014723,5.012690,35.1,0.418303,8680,2705,2746,2957,272.0,58,37,39,17,22,953,553,400,176,224,26972,15288,11684,5694,5990,28.302204,27.645570,29.210000,32.352273,26.741071,75.719811,65.062312,21.5,44.5,13.7,2.3,2864.0,31.0,7.472067,7.5,15.4,36.452514,72.486034,11.367788,2.792733,15051.607,1145.561,7.610888,13906.046,13906.046,0.000,100.000000,0.000000,10596.452,605.713,758.827,960.007,198.513,76.200323,4.355753,5.456814,6.903522,1.427530,71.579921,54.544131,3.117844,3.905983,4.941536,1.021825,664.5,236.5,1209,127.7,99.8,525,68990.0,1.278,26.044,0.270,1.254,0.000,1.094,5.35500,0.270,0.130,0.000,1.851244,37.895322,102342,87832,5.255363,291,4,25,262,1.504276,2.862075,4,527.0,3.764167,24.3,19.0,11.6,14.0,6.8,21.6,2.7,7,0.502,169,5.0,100.0,-0.160277,9,3.127,248,248,250,19.06,7.72,40.5,0.45,2.4,0.12,0.6,0.11,0.6,0.46,2.4,1.98,10.4,1.07,5.6,0.59,3.1,0.0,0.0,0.25,1.3,0.00,0.0,0.11,0.6,0.17,0.9,6.03,31.6,186.4,24145.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,46.67,0.000000,64.371972,63.942796,HOLON,5.0,53.0,513.0,0.0,123.0,1.0,1940,140.0,NaN,1.792566e+09,33.0,505.0,10001430.0,2019.0,Holon,NaN
112,עספיא,534,מועצה מקומית,83658,65074,5267.443743,28492,2125,26145,18878,6722,535,6088,6013,2224,65074,28829,13176,10500,20981,50.0,9147,17303,52.9,4017,1353,2676,812.0,31.0,14810,36245,18066,6685,10546,63.0,341,0,0.0,18584,0.0,10035,0.0,8549,96317,79151,6406.912741,11212,11910,33277,22564,9141,1289,11641,9107,11111,79151,23339,11026,2224,26248,3991,3367,1260,20946,17166,15085,0.0,2081,-14077,-14077,-64117,27938,592.9,489.7,45.5,0.9,4.5,0.2,1.6,0.0,31.7,0.7,0.0,0.0,16.1,0.0,0.0,0.0,0,0.0,2.1,21704,17418,3352,40,251,83,88,0,326,10,0,0,9,0,0,0,0,0,126,חיפה,מועצה מקומית,74.7,NaN,0,11,356,עיר כרמל,7.18,1720.5,12354,0.000000,0.000000,100.0,9.259716,13.754005,76.863035,6229,6126,7.948842,7.770763,8.037882,8.612595,15.444390,22.227619,17.322325,4.095839,8.539744,28.937996,3.051643,692.465753,215,0.2,NaN,47,168,13.719886,1.796309,0.639469,0.0,0.000000,0.00000,0.000000,0.000000,40,42,253.0,93.0,160.0,71.0,85,95.0,NaN,211.0,79.0,132.0,66.0,82.0,63.0,0.0,67.0,206,57.2,48,8.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.05,NaN,2.27,690.3,67.80,25.6,37.6,NaN,NaN,NaN,NaN,128,58.0,0.0,38.9,118.9,1057,19.867550,295.0,197,377,39,47,37.1,3.9,31.7,27.4,926,554,351,21.0,2169,950,1113,106.0,8001.537149,10446.682707,5084.713839,4.787126,3.901868,7.251149,5377,44.8,479,7461.855776,10.000879,49.9,0.435514,547,195,186,133,33.0,7,4,4,2,2,100,51,49,24,25,2545,1285,1260,665,595,25.450000,25.196078,25.714286,27.708333,23.800000,85.148515,77.227723,12.6,30.0,16.6,3.0,282.0,31.1,8.510638,5.5,14.8,32.269504,80.851064,10.449799,3.043044,1614.391,653.083,40.453831,961.308,873.881,87.427,90.905412,9.094588,670.047,32.611,0.181,19.087,30.555,76.674856,3.731744,0.020712,2.184165,3.496471,70.736684,54.237251,2.639712,0.014651,1.545006,2.473288,18.6,18.6,86,4.3,2.8,13,3603.0,0.000,0.000,2.000,0.000,0.180,0.000,0.00000,2.000,0.000,0.180,1.510154,2.180954,5125,4364,7.659028,12,0,2,10,0.979992,2.380244,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,-0.300,101,7.0,150.0,0.646944,4,-0.067,119,106,131,7.15,2.90,40.6,0.04,0.6,0.01,0.1,0.04,0.6,0.01,0.1,0.10,1.4,0.00,0.0,0.04,0.6,0.0,0.0,0.00,0.0,2.24,31.3,0.03,0.4,0.27,3.8,1.47,20.5,11.6,4000.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,86.55,0.000000,50.439719,57.106683,ISIFYA,3.0,31.0,311.0,99.0,223.0,2.0,NaN,270.0,NaN,2.063874e+09,472.0,356.0,10004171.0,2019.0,Isifya,NaN
84,בענה,483,מועצה מקומית,55468,48165,5803.012048,22931,4351,18917,12383,5800,734,196,193,1770,48165,16235,6601,3950,12972,30.5,3381,11944,28.3,3194,569,2651,8.0,0.0,9626,31930,12027,6102,12528,0.0,469,0,0.0,7303,0.0,5247,0.0,2056,58331,48156,5801.927711,5329,9433,26073,15440,8302,2139,417,204,6904,48156,19252,6636,1952,13732,1017,117,0,14038,10175,9079,0.0,1096,9,9,-2439,7495,301.2,222.3,25.6,0.0,7.2,0.6,0.0,0.0,26.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,18.6,10792,7880,1750,0,448,313,0,0,97,0,0,0,0,0,0,0,0,0,304,הצפון,מועצה מקומית,111.6,NaN,0,9,260,בקעת בית הכרם,3.46,2399.7,8300,0.000000,0.000000,100.0,92.518402,7.469531,0.000000,4154,4145,9.578313,9.481928,9.963855,11.554217,17.807229,19.277108,14.746988,2.530120,5.048193,35.795181,1.795181,839.317376,175,1.0,6.4,8,167,20.353443,2.342787,0.000000,0.0,0.000000,0.00000,0.000000,0.000000,3,-1,106.0,38.0,68.0,26.0,51,28.0,NaN,107.0,30.0,77.0,27.0,56.0,23.0,NaN,0.0,117,47.4,11,3.5,0.0,0.0,0.00,0.00,0.0,0.00,0.00,5.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44,22.0,0.0,39.1,102.0,420,37.857143,547.0,73,262,37,18,58.3,2.6,12.1,27.0,614,232,324,58.0,1803,393,1102,308.0,5315.782756,6269.426258,4149.374170,6.134290,7.192252,5.435233,3348,60.3,244,8176.737705,-3.720258,38.1,0.393375,451,138,157,149,7.0,5,3,3,1,2,77,38,39,13,26,1951,935,1016,349,667,25.337662,24.605263,26.051282,26.846154,25.653846,65.306122,55.102041,7.2,35.9,14.6,2.5,208.0,32.8,2.403846,7.5,16.0,39.903846,67.307692,10.469072,3.175283,728.783,85.871,11.782794,642.912,511.052,131.860,79.490195,20.509805,442.389,10.864,8.057,39.291,6.169,86.564381,2.125811,1.576552,7.688259,1.207118,61.572530,53.299880,1.308916,0.970723,4.733855,0.743253,2.5,2.3,10,2.7,1.9,10,1932.0,1.000,3.532,3.609,0.000,0.523,0.700,2.63200,6.407,0.000,0.273,2.314406,0.776747,3084,2477,9.273718,10,0,0,10,1.218769,3.328341,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,-1.188,26,2.0,37.0,-0.953978,4,-0.223,98,136,52,3.43,0.92,26.8,0.02,0.6,0.00,0.0,0.00,0.0,0.01,0.3,0.03,0.9,0.07,2.0,0.12,3.5,0.0,0.0,0.00,0.0,0.01,0.3,1.51,44.0,0.16,4.7,0.58,16.9,7.7,8370.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,90.17,0.000000,72.017432,74.883638,BI'NE,2.0,24.0,242.0,99.0,NaN,2.0,NaN,280.0,NaN,2.258876e+09,260.0,260.0,15002358.0,2019.0,Bi'ne,210.0

In [ ]:
def advanced_analyze_columns(df):
    """ Perform advanced analysis of each column in a DataFrame """
    analysis = []

    for col in df.columns:
        # Basic information
        missing_percentage = df[col].isnull().mean() * 100
        unique_values = df[col].nunique()
        dtype = df[col].dtype

        # Variance (if numeric)
        variance = df[col].var() if pd.api.types.is_numeric_dtype(df[col]) else None

        # Mode and frequency of the mode
        most_frequent_value = df[col].mode().iloc[0] if not df[col].mode().empty else None
        mode_count = df[col].value_counts().iloc[0] if not df[col].value_counts().empty else 0
        mode_percentage = (mode_count / len(df[col])) * 100 if len(df[col]) > 0 else 0

        # Add results to the list
        analysis.append({
            'Column': col,
            'Missing_Percentage': missing_percentage,
            'Unique_Values': unique_values,
            'Data_Type': dtype,
            'Variance': variance,
            'Most_Frequent_Value': most_frequent_value,
            'Most_Frequent_Value_Count': mode_count,
            'Most_Frequent_Value_Percentage': mode_percentage
        })

    # Convert to DataFrame and sort by missing percentage
    analysis_df = pd.DataFrame(analysis)
    return analysis_df.sort_values(by='Missing_Percentage', ascending=False).reset_index(drop=True)

advanced_analysis_result = advanced_analyze_columns(df)
advanced_analysis_result[50:100]

,Column,Missing_Percentage,Unique_Values,Data_Type,Variance,Most_Frequent_Value,Most_Frequent_Value_Count,Most_Frequent_Value_Percentage
50,water_usage_residential_thousand_m3,21.176471,200,float64,1.604617e+07,0.0,2,0.784314
51,water_type_municipal_cubic_m,21.176471,197,float64,3.066777e+04,0.0,5,1.960784
52,compact_std_score,21.176471,201,float64,1.000000e+00,-1.955029,1,0.392157
53,water_type_pct_residential,21.176471,200,float64,1.942522e+02,0.0,2,0.784314
54,water_income_thousand_m3,21.176471,200,float64,4.440366e+07,0.0,2,0.784314
55,Natural Region,16.470588,45,float64,2.222730e+04,237.0,17,6.666667
56,demo_migrate_incoming_age_65plus,12.941176,96,float64,1.609523e+04,0.0,45,17.647059
57,demo_inst_other_pct,12.549020,72,float64,1.594158e+00,0.0,121,47.450980
58,demo_inst_residents_total_pct,12.549020,136,float64,5.500587e+06,0.0,83,32.549020
59,demo_inst_facilities_total_pct,12.549020,31,float64,5.446036e+02,0.0,83,32.549020
60,demo_inst_medical_pct,12.549020,71,float64,3.607662e-01,0.0,130,50.980392
61,demo_inst_education_pct,12.549020,83,float64,4.609586e+00,0.0,128,50.196078
62,demo_inst_religious_pct,12.549020,68,float64,1.717545e+00,0.0,143,56.078431
63,demo_inst_elderly_homes_pct,12.549020,65,float64,2.195382e-01,0.0,144,56.470588
64,demo_internal_migrants_in_age_65_plus,12.156863,89,float64,2.137348e+04,0.0,50,19.607843
65,Settlement Religion,9.803922,3,float64,4.588001e-01,1.0,141,55.294118
66,Municipal Status,9.803922,14,float64,2.205024e+03,99.0,129,50.588235
67,Current Settlement Form,9.803922,17,float64,4.395005e+03,160.0,40,15.686275
68,Coordinates,9.803922,224,float64,6.237356e+16,1638357979.0,2,0.784314
69,Sub-District,9.803922,23,float64,3.070299e+02,24.0,36,14.117647
70,District,9.803922,7,float64,3.133549e+00,2.0,85,33.333333
71,Transliteration,9.803922,224,object,NaN,ELYAKHIN,2,0.784314
72,Average Elevation,9.803922,186,float64,5.652043e+04,31.0,4,1.568627
73,Planning Committee,9.803922,125,float64,2.780366e+04,251.0,11,4.313725
74,Police Jurisdiction,9.803922,70,float64,3.534174e+12,10001813.0,9,3.529412
75,Year,9.803922,1,float64,0.000000e+00,2019.0,230,90.196078
76,English Settlement Name,9.803922,224,object,NaN,Elyakhin,2,0.784314
77,general_area_km2,9.019608,226,float64,1.303387e+05,2.33,2,0.784314
78,demo_immig_post1990_pct,5.490196,177,float64,8.037684e+01,0.0,65,25.490196
79,edu_kindergarten_age_6_2018,5.098039,106,float64,4.398332e+04,3.0,9,3.529412
80,welfare_child_allowance_families_5_plus_children,5.098039,167,float64,2.348613e+06,6.0,5,1.960784
81,demo_new_immigrants,4.705882,98,float64,1.730477e+05,0.0,90,35.294118
82,welfare_income_support_recipients_yearly,4.313725,211,float64,3.452628e+06,83.0,4,1.568627
83,demo_immigrants_age_0_17_pct,4.313725,126,float64,6.499637e+02,0.0,89,34.901961
84,general_municipal_status_year,3.921569,60,float64,6.943974e+02,1950.0,25,9.803922
85,demo_immigrants_age_18_44_pct,3.137255,117,float64,5.162354e+02,0.0,99,38.823529
86,demo_internal_migrants_in,3.137255,192,float64,2.555993e+07,0.0,24,9.411765
87,land_forest_km2,2.352941,136,float64,4.862996e+02,0.0,73,28.627451
88,welfare_unemployment_recipients_male_monthly_avg,2.352941,143,float64,4.839752e+04,23.0,8,3.137255
89,land_forest_pct,2.352941,125,float64,1.747225e+02,0.0,76,29.803922
90,pop_density_residential_per_km2,2.352941,246,float64,4.435924e+07,3333.0,2,0.784314
91,land_culture_recreation_pct,2.352941,34,float64,8.780580e-01,0.2,32,12.549020
92,land_residential_km2,2.352941,212,float64,1.609745e+01,0.82,3,1.176471
93,land_residential_pct,2.352941,199,float64,2.757173e+02,4.9,4,1.568627
94,land_education_km2,2.352941,61,float64,1.557472e-01,0.01,34,13.333333
95,land_education_pct,2.352941,51,float64,4.072754e+00,0.0,35,13.725490
96,land_health_welfare_km2,2.352941,25,float64,5.592036e-03,0.0,110,43.137255
97,land_orchards_km2,2.352941,174,float64,7.184877e+01,0.0,16,6.274510
98,land_public_services_km2,2.352941,39,float64,5.634967e-02,0.01,46,18.039216
99,land_public_services_pct,2.352941,27,float64,6.453430e-01,0.0,60,23.529412

In [ ]:
# Initialize AutoViz
AV = AutoViz_Class()

# Target column
target_variable = "auth_name"  # Ensure this column exists in the dataset

# Visualize
dft = AV.AutoViz(
    filename="",  # Empty if using a DataFrame
    sep=",",      # Adjust separator if needed
    depVar=target_variable,
    dfte=df,
    header=0,
    verbose=2,
    lowess=False,
    chart_format="svg",
    max_rows_analyzed=255,
    max_cols_analyzed=20,
    save_plot_dir=None,
)

Shape of your Data Set loaded: (255, 413)
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
Classifying variables in data set...
  Printing up to 30 columns (max) in each category:
    Numeric Columns : ['budget_reg_inc_per_capita', 'budget_reg_inc_arnona_res_collection_rate', 'budget_reg_inc_arnona_res_curr_rate', 'budget_reg_inc_self_education', 'budget_reg_inc_self_welfare', 'budget_reg_inc_gov_trans_designated', 'budget_dev_inc_property', 'budget_dev_inc_loans', 'budget_reg_exp_per_capita', 'budget_dev_exp_loan_transfers', 'arnona_area_total', 'arnona_area_residential', 'arnona_area_commercial', 'arnona_area_industry', 'arnona_area_craft', 'arnona_area_banks', 'arnona_area_hotels', 'arnona_area_parking', 'arnona_area_land_occupied', 'arnona_area_land_events', 'arnona_area_land_industry_large', 'arnona_area_agriculture_land', 'arnona_area_agriculture_building', 'arnona_area_solar_roof', 'arnona_area_other', 'general_dist_tel_aviv_km', 'general_municipal_status_year', 'general_area_km2', 'demo_density_per_km2', 'demo_general_jews_others_pct']
    Integer-Categorical Columns: ['authority_code', 'budget_reg_inc_local_services', 'budget_reg_inc_gov_welfare', 'budget_reg_inc_gov_culture', 'budget_reg_inc_ent_total', 'budget_reg_inc_ent_water', 'budget_reg_inc_ent_irregular', 'budget_reg_inc_econ_self_total', 'budget_reg_inc_arnona_total', 'budget_reg_inc_arnona_res_collection', 'budget_reg_inc_arnona_res_curr_collection', 'budget_reg_inc_arnona_res_exemptions', 'budget_reg_inc_arnona_res_arrears', 'budget_reg_inc_arnona_nonres_collection', 'budget_reg_inc_self_other', 'budget_reg_inc_gov_trans_welfare', 'budget_reg_inc_gov_trans_general', 'budget_reg_inc_gov_trans_special', 'budget_reg_inc_gov_trans_deficit', 'budget_dev_inc_total', 'budget_dev_inc_gov', 'budget_dev_inc_other', 'budget_reg_exp_management', 'budget_reg_exp_local_services', 'budget_reg_exp_gov_culture', 'budget_reg_exp_ent_total', 'budget_reg_exp_ent_water', 'budget_reg_exp_labor_total', 'budget_reg_exp_labor_edu', 'budget_reg_exp_labor_welfare']
    String-Categorical Columns: ['authority_status', 'general_district', 'general_municipal_status', 'Year of Establishment']
    Factor-Categorical Columns: []
    String-Boolean Columns: []
    Numeric-Boolean Columns: ['general_coastal', 'region_settle_urban_nonjewish_5k_10k', 'region_settle_urban_moshav_collective_2k_5k', 'region_settle_urban_kibbutz_2k_5k', 'region_settle_institutional_nonjewish']
    Discrete String Columns: ['general_planning_committee_name', 'Transliteration', 'English Settlement Name']
    NLP text Columns: []
    Date Time Columns: []
    ID Columns: ['budget_total_income', 'budget_reg_inc_total', 'budget_reg_inc_tax_grants', 'budget_reg_inc_gov_services_total', 'budget_reg_inc_gov_education', 'budget_reg_inc_econ_total', 'budget_reg_inc_arnona_res_charges_net', 'budget_reg_inc_arnona_res_curr_charges', 'budget_reg_inc_gov_trans_total', 'budget_reg_inc_gov_trans_edu', 'budget_total_exp', 'budget_reg_exp_total', 'budget_reg_exp_gov_total', 'budget_reg_exp_gov_edu', 'budget_reg_exp_gov_welfare', 'budget_reg_exp_ent_irregular', 'budget_reg_exp_total_alt', 'budget_reg_exp_econ_operations', 'budget_reg_exp_econ_general', 'budget_dev_exp_total', 'demo_general_male_thousands', 'transport_private_vehicles_total', 'socio_rank_2015', 'periph_rank', 'periph_accessibility_rank']
    Columns that will not be considered in modeling: ['crime_type_fraud_economic_pct', 'crime_type_other_pct', 'Organizational Affiliation', 'Year']
    412 Predictors classified...
        29 variable(s) removed since they were ID or low-information variables
        List of variables removed: ['budget_total_income', 'budget_reg_inc_total', 'budget_reg_inc_tax_grants', 'budget_reg_inc_gov_services_total', 'budget_reg_inc_gov_education', 'budget_reg_inc_econ_total', 'budget_reg_inc_arnona_res_charges_net', 'budget_reg_inc_arnona_res_curr_charges', 'budget_reg_inc_gov_trans_total', 'budget_reg_inc_gov_trans_edu', 'budget_total_exp', 'budget_reg_exp_total', 'budget_reg_exp_gov_total', 'budget_reg_exp_gov_edu', 'budget_reg_exp_gov_welfare', 'budget_reg_exp_ent_irregular', 'budget_reg_exp_total_alt', 'budget_reg_exp_econ_operations', 'budget_reg_exp_econ_general', 'budget_dev_exp_total', 'demo_general_male_thousands', 'transport_private_vehicles_total', 'socio_rank_2015', 'periph_rank', 'periph_accessibility_rank', 'crime_type_fraud_economic_pct', 'crime_type_other_pct', 'Organizational Affiliation', 'Year']
Since Number of Rows in data 255 exceeds maximum, randomly sampling 255 rows for EDA...

################ Multi_Classification problem #####################
Number of variables = 383 exceeds limit, finding top 20 variables through XGBoost
    No categorical feature reduction done. All 139 Categorical vars selected
    Removing correlated variables from 244 numerics using SULO method
Selecting all (244) variables since none of them are highly correlated...
    Adding 139 categorical variables to reduced numeric variables  of 244
############## F E A T U R E   S E L E C T I O N  ####################
Current number of predictors = 383
    Finding Important Features using Boosted Trees algorithm...
        using 383 variables...
Finding top features using XGB is crashing. Continuing with all predictors...
    Since number of features selected is greater than max columns analyzed, limiting to 20 variables
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
Classifying variables in data set...
    20 Predictors classified...
    No variables removed since no ID or low-information variables found in data
    List of variables removed: []
To fix these data quality issues in the dataset, import FixDQ from autoviz...
    All variables classified into correct types.

Total Number of Scatter Plots = 210

In [ ]:
def plot_missing_value_distribution(df):
    """ Creates a bar plot showing the distribution of columns based on their percentage of missing values.
        Adds value labels above each bar """
    # Calculate missing percentages for each column
    missing_percentages = df.isnull().mean() * 100

    # Categorize columns based on missing percentages
    bins = [0, 10, 30, 50, 100]
    labels = ["< 10%", "10%-30%", "30%-50%", "> 50%"]
    categories = pd.cut(missing_percentages, bins=bins, labels=labels, include_lowest=True)

    # Count columns in each category
    category_counts = categories.value_counts().sort_index()

    # Plot the distribution of missing value categories with value labels
    plt.figure(figsize=(6, 5))
    bars = category_counts.plot(kind='bar', edgecolor='black', color='skyblue')
    plt.title("Distribution of Columns by Missing Value Percentages")
    plt.xlabel("Missing Value Percentage Range")
    plt.ylabel("Number of Columns")
    plt.xticks(rotation=0)
    plt.grid(axis='y', linestyle='--', alpha=0.7)

    # Add value labels above the bars
    for bar in bars.patches:
        plt.text(bar.get_x() + bar.get_width() / 2, bar.get_height() + 0.5,
                 f'{int(bar.get_height())}',
                 ha='center', va='bottom')
    plt.show()

In [ ]:
plot_missing_value_distribution(df)

In [ ]:
#removing non-unique values
advanced_analysis_result[advanced_analysis_result['Unique_Values'] <=1]
df_1 = df.drop(columns=['Year'], axis=1)

In [ ]:
def get_columns_by_bins(missing_percentages):
    """ Groups columns into bins based on their percentage of missing values """
    # Define bins and labels
    bins = [0, 10, 30, 50, 100]
    labels = [
        "< 10%",
        "10%-30%",
        "30%-50%",
        "> 50%"
    ]
    # Categorize columns based on their missing percentages
    categories = pd.cut(missing_percentages, bins=bins, labels=labels, include_lowest=True)

    # Group columns by bins
    grouped_columns = {}
    for label in labels:
        grouped_columns[label] = list(missing_percentages.index[categories == label])

    return grouped_columns

#Calculate missing percentages
missing_percentages = df_1.isnull().mean() * 100

#Get columns by bins
columns_by_bins = get_columns_by_bins(missing_percentages)
list_30_50 = columns_by_bins.get( "30%-50%")
list_50 = columns_by_bins.get("> 50%")
list_10_30=columns_by_bins.get("10%-30%")
list_10=columns_by_bins.get("< 10%")

In [ ]:
df_2 = df_1.drop(columns=list_50, axis=1)
df_3 = df_2.drop(columns=list_30_50, axis=1)

In [ ]:
df_3.sample(5)

In [ ]:
# Identify non-numeric columns with missing values
non_numeric_columns_with_na = df_3.select_dtypes(exclude='number').isnull().sum()

# Filter only columns with missing values
non_numeric_columns_with_na = non_numeric_columns_with_na[non_numeric_columns_with_na > 0]

# Display the result
print("Non-numeric columns with missing values:")
print(non_numeric_columns_with_na)

In [ ]:
def cramers_v(x, y):
    """
    Calculate Cramér's V statistic for two categorical variables.
    """
    contingency_table = pd.crosstab(x, y)  # Create a contingency table
    chi2, _, _, _ = chi2_contingency(contingency_table)  # Perform Chi-squared test
    n = contingency_table.sum().sum()  # Total number of samples
    phi2 = chi2 / n
    r, k = contingency_table.shape
    return np.sqrt(phi2 / min(r - 1, k - 1))
# Replace 'column1' and 'column2' with the actual column names
column1 = df_3['Transliteration']
column2 = df_3['English Settlement Name']
# Calculate Cramér's V
cramers_v_value = cramers_v(column1,column2)
print(f"Cramér's V between 'region_name' and 'city_name': {cramers_v_value:.2f}")

In [ ]:
df_4 = df_3.drop(columns=['Transliteration','general_planning_committee_name'])

In [ ]:
# Identify rows where 'English Settlement Name' is missing
missing_rows = df_4['English Settlement Name'].isnull()

# Get the corresponding Hebrew names for these rows
missing_hebrew_names = df_4.loc[missing_rows, 'auth_name'].unique()

# Print the missing Hebrew names
print("Hebrew names missing English translations:")
print(missing_hebrew_names)

In [ ]:
transliteration_dict = {
    'הגליל העליון': 'Upper Galilee',
    'מרום הגליל': 'Merom HaGalil',
    'הגליל התחתון': 'Lower Galilee',
    'מטה אשר': 'Mateh Asher',
    'עמק הירדן': 'Jordan Valley',
    'הגלבוע': 'Gilboa',
    'עמק יזרעאל': 'Jezreel Valley',
    'זבולון': 'Zevulun',
    'מנשה': 'Menashe',
    'חוף השרון': 'Sharon Coast',
    'דרום השרון': 'Southern Sharon',
    'חבל מודיעין': 'Modiin Region',
    'גזר': 'Gezer',
    'שפיר': 'Shafir',
    'אשכול': 'Eshkol',
    'שדות דן': 'Sdot Dan',
    'מרחבים': 'Merhavim',
    'אלונה': 'Alona',
    'לכיש': 'Lachish',
    'תמר': 'Tamar',
    'הערבה התיכונה': 'Central Arava',
    'משגב': 'Misgav',
    'נווה מדבר': 'Neve Midbar',
    'מטה בנימין': 'Mateh Binyamin',
    'ערבות הירדן': 'Jordan Plains'
}

In [ ]:
# Define the function to fill missing English names
def fill_missing_with_dict(df, hebrew_col, english_col, transliteration_dict):
    """
    Fill missing values in the English column using the transliteration dictionary.
    """
    df_copy = df.copy()
    missing_rows = df_copy[english_col].isnull()
    df_copy.loc[missing_rows, english_col] = df_copy.loc[missing_rows, hebrew_col].map(transliteration_dict)
    return df_copy

# Use the function to fill missing values
df_5 = fill_missing_with_dict(df_4, 'auth_name', 'English Settlement Name', transliteration_dict)

# Check if missing values are filled
print(df_5['English Settlement Name'].isnull().sum())

In [ ]:
#Calculate missing percentages
missing_percentages = df_5.isnull().mean() * 100

#Get columns by bins
columns_by_bins = get_columns_by_bins(missing_percentages)
list_30_50 = columns_by_bins.get( "30%-50%")
list_50 = columns_by_bins.get("> 50%")
list_10_30=columns_by_bins.get("10%-30%")
list_10=columns_by_bins.get("< 10%")

In [ ]:
def fill_missing_with_median(df, columns=None, threshold=0.1):
    """
    Fill missing values in numeric columns from a given list of columns with missing rate up to a given threshold using median.
    """
    df_copy = df.copy()

    # Use specified columns or all numeric columns if columns is None
    if columns is not None:
        numeric_columns = df_copy[columns].select_dtypes(include='number')
    else:
        numeric_columns = df_copy.select_dtypes(include='number')

    # Calculate missing value proportions for numeric columns
    missing_proportions = numeric_columns.isnull().mean()

    # Identify numeric columns with missing values up to the threshold
    columns_to_fill = missing_proportions[(missing_proportions > 0) & (missing_proportions <= threshold)].index

    # Fill missing values with median
    for col in columns_to_fill:
        df_copy[col].fillna(df_copy[col].median(), inplace=True)

    return df_copy

In [ ]:
df_6 = fill_missing_with_median(df_5, columns=list_10, threshold=0.1)

In [ ]:
plot_missing_value_distribution(df_6)

בשלב זה מילאנו את העמודות שיש בהן פחות מ10 אחוז ערכים חסרים באמצעות החציון  כך שיותאם גם לערכים בעמודות שלא מתפלגות באופן נורמלי או שיש בהן מנעד רחב של ערכים

כעת נותרנו רק עם 39 עמודות מספריות שיש בהן בין 10-30 ערכים חסרים

In [ ]:
def knn_imputation(df, columns, n_neighbors=5):
    """
    Fill missing values in specified columns using KNN imputation.
    """
    # Copy the DataFrame to avoid modifying the original
    df_copy = df.copy()

    # Ensure the columns exist in the DataFrame
    valid_columns = [col for col in columns if col in df_copy.columns]

    # Select only the specified columns
    data_to_impute = df_copy[valid_columns]

    # Apply KNN imputation
    imputer = KNNImputer(n_neighbors=n_neighbors)
    imputed_data = imputer.fit_transform(data_to_impute)

    # Replace the original data with the imputed data
    df_copy[valid_columns] = imputed_data

    return df_copy

df_7 = knn_imputation(df_6, list_10_30, n_neighbors=5)

In [ ]:
plot_missing_value_distribution(df_7)

In [ ]:
df_7.sample()

 **isolated forest**

https://www.kaggle.com/code/marcinrutecki/outlier-detection-methods#6.-Isolation-Forest

בגלל שהועבר מהמחברת השנייה יש צורך לעדכן את הקוד בהתאם לדאטה פריים ולבצע את הבדיקה רק על עמודות קטגוריאליות

In [ ]:
# Define the parameters of the Isolation Forest
model = IsolationForest(
    n_estimators=100,        # Number of trees in the forest
    max_samples='auto',      # Number of samples to draw from the dataset to train each base estimator
    contamination='auto',    # The amount of contamination of the data set, i.e., the proportion of outliers in the data set
    random_state=42          # Set the seed for reproducibility
)
# Fit the model to the data
df_is=df_7.select_dtypes(include=[np.number])
model.fit(df_is)

# Predict anomalies
df_is['anomaly'] = model.predict(df_is)
df_is['name']=df_1['auth_name']

# Define the desired column order with 'name' at the beginning
cols = ['name'] + [col for col in df_is.columns if col != 'name']

# Reorder the DataFrame columns
df_is = df_is[cols]

# Count the number of anomalies and normal points
print(df_is['anomaly'].value_counts())

# Separate the data into normal and anomalous points
normal_data = df_is[df_is['anomaly'] == 1]
anomalous_data = df_is[df_is['anomaly'] == -1]
anomalous_data

החלטנו לא להוריד את השורות החריגות- לאחר בחינה ראינו שמדובר בערים כמו ירושלים, תל אביב וערים גדולות נוספות שבהחלט מעידות הרבה על מצב הדאטה וחריגה בהן יכולה להעיד על דבר מעניין.

בדיקת עמודות חריגות

In [ ]:
def identify_columns_with_many_outliers(data, threshold=0.1):
    """
    Identify columns with a high percentage of outliers using IQR (Boxplot method).
    """
    numerical_data = data.select_dtypes(include=[np.number])
    outlier_info = {}

    for column in numerical_data.columns:
        col_data = numerical_data[column]

        # Calculate Q1, Q3, and IQR
        Q1 = col_data.quantile(0.2)
        Q3 = col_data.quantile(0.8)
        IQR = Q3 - Q1

        # Calculate bounds
        lower_bound = Q1 - 2 * IQR
        upper_bound = Q3 + 2 * IQR

        # Count outliers
        outliers = ((col_data < lower_bound) | (col_data > upper_bound)).sum()
        proportion_outliers = outliers / len(col_data)

        # Check if the column meets the threshold
        if proportion_outliers > threshold:
            outlier_info[column] = proportion_outliers

    return outlier_info

# Example usage:
outlier_columns = identify_columns_with_many_outliers(df_7, threshold=0.1)
for col, prop in outlier_columns.items():
    print(f"{col}: {prop:.2%} outliers")
len(outlier_columns)

עשינו ניסיון של להוריד את העמודות שסווגו כבעייתיות אך זה רק הוריד לנו את ביצועי הנתונים והביא תוצאות הרבה פחות טובות.

In [ ]:
import pandas as pd
from pyproj import Transformer

# Step 1: Ensure 'Coordinates' column exists and is a string
print("Step 1: Initial Data")
print(df_7.head())
df_7['Coordinates'] = df_7['Coordinates'].astype(str)

# Step 2: Filter rows with valid 10-digit coordinates
df_7 = df_7[df_7['Coordinates'].str.match(r'^\d{10}$')]
print("Step 2: After Filtering Valid Coordinates")
print(df_7.head())

# Step 3: Split 'Coordinates' into x and y
df_7['x'] = df_7['Coordinates'].str[:5].astype(int)
df_7['y'] = df_7['Coordinates'].str[5:].astype(int)
print("Step 3: After Splitting Coordinates into x and y")
print(df_7[['x', 'y']].head())

# Step 4: Define the transformer
transformer = Transformer.from_crs("epsg:2039", "epsg:4326", always_xy=True)

def convert_itm_to_wgs84(x, y):
    try:
        lon, lat = transformer.transform(x, y)
        print(f"Converted: ({x}, {y}) -> ({lon}, {lat})")
        return lon, lat
    except Exception as e:
        print(f"Error converting ({x}, {y}): {e}")
        return None, None

# Step 5: Apply coordinate transformation
df_7['longitude'] = None
df_7['latitude'] = None
for idx, row in df_7.iterrows():
    lon, lat = convert_itm_to_wgs84(row['x'], row['y'])
    df_7.at[idx, 'longitude'] = lon
    df_7.at[idx, 'latitude'] = lat

print("Step 4: After Longitude and Latitude Transformation")
print(df_7[['longitude', 'latitude']].head())

# Step 6: Drop rows where transformation failed
df_7.dropna(subset=['longitude', 'latitude'], inplace=True)

# Step 7: Drop unnecessary columns
df_7.drop(columns=['x', 'y', 'Coordinates'], inplace=True)
print("Step 5: Final Cleaned Data")
print(df_7.head())

In [ ]:
output_file_name = "data_after_EDA.xlsx"
df_7.to_excel(output_file_name, index=False)

print(f"The DataFrame has been successfully exported to {output_file_name}.")

In [ ]:
files.download("data_after_EDA.xlsx")